# Ignore uploaded data (do not push user-uploaded files)
data/uploads/
Sample_Database_import

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Env files
.env

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
