{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="ui-panel">
        <h1 class="h3 mb-3 text-center">{{ _('Błąd serwera') }}</h1>
        <p class="mb-4 text-center">{{ _('Wystąpił nieoczekiwany błąd. Spróbuj ponownie później.') }}</p>
        <a class="btn btn-primary" href="{{ url_for('main.index') }}">{{ _('Powrót') }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
